*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items > ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
}

.logo{
    width: 100px;
}